<% @list.each do |list| %>
  <div class="booyah-box col-10 offset-1"><div>
    <h1><%= list.name %></h1><br />
    <i><%= list.age %></i><br />
    <p><%= list.wish %></p><br />
  </div>

  <hr />
<% end %>